body {
  margin: 0;
  padding: 0;
  font-family: "Merienda";
}

/* ----------header---------- */
header {
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
}
header nav img {
  max-width: 60px;
  float: left;
}
header nav span h1 {
  display: inline-block;
  /* float: left; */
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 1.3em;
}

nav {
  display: flex;
  justify-content: space-between;
}

header nav > i {
  margin-top: 15px;
  color: grey;
  font-size: 1.5em;
  /* outline: 1px solid grey; */
  padding: 5px;
  box-sizing: border-box;
}

/* ----------banner---------- */
#banner img {
  max-width: 100%;
  position: relative;
}
#banner .welcome {
  width: 80%;
  /* max-width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1000;
  bottom: 40%;
  left: 10%;
}

#banner h2 {
  padding-left: 35px;
  margin: 0;
  color: white;
  font-size: 2.5em;
  text-transform: capitalize;
  font-weight: 300;
}

#banner .welcome i {
  color: rgba(250, 242, 240, 0.5);
  padding-top: 60px;
  font-size: 2em;
}

#border {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 300px;
}
.border-item {
  height: 3px;
  width: 35px;
  background-color: rgba(250, 242, 240, 0.5);
  margin: 0px 5px;
}

.border-item:hover {
  background-color: white;
}
/* ----------restau---------- */
main .container {
  padding: 20px 60px;
}
main #restau {
  width: 80%;
  background-color: #f8f9fa;
  margin: auto;
  padding: 0px 10px;
}
#restau img {
  display: block;
  margin: auto;
  position: relative;
  width: 100%;
  animation: top 1s ease-in;
}
main h2 {
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
  font-weight: lighter;
  margin-top: 35px;
}

#restau h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.6em;
  text-transform: capitalize;
  font-weight: lighter;
  margin-left: 3px;
}

#restau p {
  margin: 0px;
  font-weight: 100;
  margin-bottom: 15px;
  margin-left: 3px;
}

#restau h4 {
  font-size: 1.25rem;
  font-weight: 100;
  margin: 10px 0px;
  margin-left: 3.5px;
}

#restau #cuisine {
  margin-top: 18px;
}

/* ----------Menu---------- */

/* #F8F9FA */
main .meat {
  width: 80%;
  background-color: #f8f9fa;
  margin: auto;
  padding: 0px 15px;
}
main #menu img {
  display: block;
  margin: auto;
  width: 100%;
  max-height: 185px;
  margin: 0.5px 0px;
  border-radius: 2px 2px 0px 0px;
  position: relative;
  animation: top 1s ease-in;
}

#menu .bgmenu {
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 0px 0px 4px 4px;
  /* box-shadow: 0px 0px 20px grey; */
  box-sizing: border-box;
  padding-bottom: 10px;
  animation: top 1s ease-in;
}

.bgmenu h3 {
  margin: 0;
  padding: 10px 7px 5px 7px;
  box-sizing: border-box;
  font-size: 1.3em;
  font-weight: 100;
}

.bgmenu li {
  padding: 8px 20px;
  margin: 0;
  font-weight: 100;
  /* transform: translateX(10%); */
  list-style: none;
  font-size: 0.9em;
}

.bgmenu ul {
  padding: 0;
  margin: 0;
}
.bgmenu li::before {
  content: "";
  display: block;
  position: relative;
  margin: auto;
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0;
}

/* ----------Reservation---------- */

#reserve {
  width: 80%;
  margin: auto;
}
.maindiv {
  width: 95%;
  height: 60vh;
  margin: auto;
  /* padding: 0px 15px; */
  background: linear-gradient(
      rgba(255, 253, 255, 0.5),
      rgba(254, 255, 253, 0.7)
    ),
    url(../images/reserve.jpg) center;
  background-size: contain;
  background-repeat: no-repeat;
}

#title3 {
  padding-top: 45px;
  margin-bottom: 0px;
}

#reserve .timetable {
  text-align: center;
  font-size: 2.2em;
  padding-bottom: 0px;
  padding-top: 80px;
  padding-right: 10px;
  text-transform: capitalize;
}

#reserve .timetable h3 {
  font-weight: lighter;
  margin: 0;
}

#reserve .flexpls {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 50px;
}

#reserve .flexpls h4 {
  font-size: 1.9em;
  font-weight: 100;
  margin: 0;
}

#reserve .flexpls p {
  font-size: 1.3em;
  font-weight: 100;
  margin: 0;
}

#reserve label {
  display: inline-block;
}
/* ----------form---------- */
form .form-control {
  display: block;
  padding: 12px 15px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px 0px;
}
form label {
  margin: 5px 0px;
  text-transform: capitalize;
}

form div h4 {
  font-size: 1.8em;
  margin: 0px;
  font-weight: 100;
  text-transform: capitalize;
}

form div {
  width: 48%;
  margin-bottom: 10px;
}
form {
  width: 100%;
  padding: 0px 20px 10px 20px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.specialdiv {
  display: block;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 5px;
}
.specialdiv button {
  background-color: #6c757d;
  font-family: "Merienda";
  font-size: 1em;
  color: white;
  text-transform: capitalize;
}

form ::placeholder {
  font-family: "Merienda";
  font-size: 1.2em;
  line-height: 1.5px;
  text-transform: capitalize;
}

/* ----------map and address---------- */
main #mapndadd {
  width: 80%;
  margin: auto;
}
.map {
  margin: auto;
  width: 100%;
}
iframe {
  margin: auto;
  width: 100%;
  height: 50vh;
}
#mapndadd .address-phone {
  padding-left: 20px;
  margin-bottom: 40px;
}

.address-phone h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.7em;
  font-weight: 100;
  text-transform: capitalize;
}

.address-phone p {
  margin: 0;
  margin-bottom: 10px;
}

/* ----------idk what this is ---------- */

#footer {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7px;
  box-sizing: border-box;
  /* margin-bottom: 30px; */
  margin-top: 50px;
}
.end p {
  margin: 0;
  font-size: 1em;
  text-transform: capitalize;
}
.end {
  width: 30%;
}
/* icon hover :#0056B3 */
.end p i {
  color: #007bff;
  font-size: 1.9em;
  padding-left: 5px;
}

.end p i:hover {
  color: #0056b3;
}

.end p span {
  color: #007bff;
  text-decoration: underline;
}

/* ----------Animations---------- */
@keyframes top { 
  
  from { top: 100px;
  opacity: 0;}
   to {top: 0px;
  opacity: 1;}
}
